<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include partial/header %>
    <title>Ini Student</title>
  </head>
  <body>
    <h1>Student Data</h1>

    <div>
      <table>
        <tr>
          <th>Id</th>
          <th>Nama</th>
          <th>Email</th>
        </tr>
          <% dataStudent.forEach(student => { %>
          <tr>
            <td>
              <%= student.id %>
            </td>
            <td>
              <%= student.first_name %> <%= student.last_name %>
            </td>
            <td>
              <%= student.email %>
            </td>
          </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
