<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include partial/header %>
    <title>Ini Teacher</title>
  </head>
  <body>
    <h1>Teachers Data</h1>

    <div>
      <table>
        <tr>
          <th>Id</th>
          <th>Nama</th>
          <th>Email</th>
        </tr>
          <% dataTeacher.forEach(teacher => { %>
          <tr>
            <td>
              <%= teacher.id %>
            </td>
            <td>
              <%= teacher.first_name %> <%= teacher.last_name %>
            </td>
            <td>
              <%= teacher.email %>
            </td>
          </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
